<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unSnap!' }">
  <div class="top-card">
    <h2>{{faceSnap.title}}</h2>
    <p>Crée le : {{faceSnap.createdDate | date: 'medium'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="">
    <p *ngIf="faceSnap.location">Picture taken at : {{faceSnap.location}}</p>
    <p>{{ faceSnap.description }}</p>
  </div>
  <div class="end-card">
    <div *ngIf="faceSnap.routerLink" class="link">
      <div [ngClass]="{ unset: buttonText !== 'Oops, unSnap!' }">
        <p>{{faceSnap.linkText}}</p>
        <a routerLink="{{faceSnap.routerLink}}"href=""><img src="{{faceSnap.linkImage}}" alt=""></a>
        
      </div>
    </div>
    <div *ngIf="faceSnap.audio" class="audio">
      <div [ngClass]="{ unset: buttonText !== 'Oops, unSnap!' }">
        <figure>
          <figcaption>{{faceSnap.audioCaption}}</figcaption>
          <br>
          <audio controls src="{{faceSnap.audio}}"></audio>
        </figure>
      </div>
    </div>
    <p>
        <button class="snapButton" (click)="onSnap()">{{ buttonText }}</button>
        <span [ngStyle]="{ color: 'rgb(255, ' + this.faceSnap.snaps*255 + ', 255)'}">🤌 {{ faceSnap.snaps }} </span>
    </p>
  </div>
</div>