.face-snap-card {
    img {
      width: 100%;
    }
  }
button{    background-color: #00ffda;
  border: 0.0625rem solid #00ffda;
  border-radius: 3.75rem;
  color: #1d1d1b;
  padding: 5px;
  border: none;
  overflow: hidden;
  font-weight: 700;
}