
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.face-snap-card {
  margin: 15px;
  padding: 10px;
  max-width: 350px;
    img {
      width: 100%;
    }
  transition: 700ms;
  }
.snapButton{    background-color: #00ffda;
  border: 0.0625rem solid #00ffda;
  border-radius: 3.75rem;
  color: #1d1d1b;
  padding: 5px;
  border: none;
  overflow: hidden;
  font-weight: 700;
}

.snapped{
  box-shadow: 0px 0px 20px #00ffda;
}