.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    border-style: groove;
    box-shadow: 0px 0px 10px #00ffda inset ;
}
.screen{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-style: groove;
    margin: 5px;
    box-shadow: 0px 0px 10px #00ffda;
    width: 48%;
    height: clamp(500px, 47vh, 48vh);
    img{
        width: 100%;
        object-fit: cover;
        height: clamp(500px, 47vh, 48vh);
    }
}