header a{
    color: #00ffda;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
app-face-snap{
    border: 1px solid rgb(255,255,255);
    margin: 10px;
    padding: 10px;
    max-width: 30%;
}
.app-face-snap{

    max-height: 70vh;
}
h1 img{
    max-height: .9em;
}