/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }
body{
    background-color: #1d1d1d;
    color: #fff;
}
.container{
  margin-inline: auto;
    max-width: 100%;
}